.header {
background-color:#9AF6CB
;
color: #fcf2dc;
text-align: center;
padding: 20px

}
.h2 {
font-size: 30px;
}
.footer {
background-color:#9AF6CB ;
color:#fcf2dc ;
text-align: center;
padding: 30px;
}
.h3{
font-size: 20px;
}
.html{
	background-color:#fcf2dc ;