.header{
color:#fcf2dc ; 

background-color: #9AF6CB;
text-align: center;
}
.h2{
	font-size: 30px;
}
.P{
	font-size: 20px;
}
.html{
	background-color:#fcf2dc ;
}
.footer{
	background-color:#615130 ;
}
.vrv{
	color: #f0d032;
}