.header{
background-color:#615130; 
color: #9AF6CB;
text-align: center;
}
.title{
	font-size: 30px;
	color: white;
text-align: center;
}
.P{
	font-size: 20px;
}
.html{
	background-color:#fcf2dc ;
}
.footer{
	background-color:#615130 ;
}
